@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 13% 18%;
--foreground: 216 12% 84%;
--card: 220 13% 24%;
--card-foreground: 216 12% 84%;
--popover: 220 13% 24%;
--popover-foreground: 216 12% 84%;
--primary: 210 40% 98%;
--primary-foreground: 222 47% 11%;
--secondary: 217 16% 42%;
--secondary-foreground: 210 40% 98%;
--muted: 223 13% 28%;
--muted-foreground: 215 16% 65%;
--accent: 217 16% 42%;
--accent-foreground: 210 40% 98%;
--destructive: 0 63% 48%;
--destructive-foreground: 210 40% 98%;
--border: 220 13% 28%;
--input: 220 13% 28%;
--ring: 216 12% 84%;
--radius: 0.5rem;
  }
 
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}